trigger:
  batch: true
  branches:
    include:
      - main
      - stable-*

pr:
  autoCancel: true
  branches:
    include:
      - main
      - stable-*

schedules:
  - cron: 0 9 * * *
    displayName: Nightly
    always: true
    branches:
      include:
        - main
        - stable-*

variables:
  - name: checkoutPath
    value: ansible_collections/community/windows
  - name: coverageBranches
    value: main
  - name: pipelinesCoverage
    value: coverage-powershell
  - name: entryPoint
    value: tests/utils/shippable/shippable.sh
  - name: fetchDepth
    value: 0

resources:
  containers:
    - container: default
      image: quay.io/ansible/azure-pipelines-test-container:3.0.0

pool: Standard

stages:
  - stage: Dependencies
    displayName: Dependencies
    jobs:
    - job: dep_download
      displayName: Download Dependencies
      container: default
      steps:
      - checkout: self
        fetchDepth: 1

      - task: CmdLine@2
        inputs:
          script: python -m pip install ansible-core

      - task: CmdLine@2
        inputs:
          script: ansible-galaxy collection install -r tests/requirements.yml

      - task: PublishPipelineArtifact@1
        inputs:
          targetPath: ~/.ansible/collections/ansible_collections
          artifactName: CollectionRequirements

  - stage: Ansible_devel
    displayName: Ansible devel
    dependsOn:
    - Dependencies
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: '{0}'
          testFormat: 'devel/{0}'
          targets:
            - name: Sanity
              test: sanity
            - name: Units
              test: units
  - stage: Ansible_2_13
    displayName: Ansible 2.13
    dependsOn:
    - Dependencies
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: '{0}'
          testFormat: '2.13/{0}'
          targets:
            - name: Sanity
              test: sanity
            - name: Units
              test: units
  - stage: Ansible_2_12
    displayName: Ansible 2.12
    dependsOn:
    - Dependencies
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: '{0}'
          testFormat: '2.12/{0}'
          targets:
            - name: Sanity
              test: sanity
            - name: Units
              test: units
  - stage: Ansible_2_11
    displayName: Ansible 2.11
    dependsOn:
    - Dependencies
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: '{0}'
          testFormat: '2.11/{0}'
          targets:
            - name: Sanity
              test: sanity
            - name: Units
              test: units
  - stage: Windows
    displayName: Windows
    dependsOn:
    - Dependencies
    jobs:
      - template: templates/matrix.yml
        parameters:
          nameFormat: Server {0}
          testFormat: devel/windows/{0}
          targets:
            - test: 2012
            - test: 2012-R2
            - test: 2016
            - test: 2019
            - test: 2022
          groups:
            - 1
            - 2
            - 3
            - 4
            - 5
  - stage: Summary
    condition: succeededOrFailed()
    dependsOn:
      - Ansible_devel
      - Ansible_2_12
      - Ansible_2_11
      - Windows
    jobs:
      - template: templates/coverage.yml
